{% extends 'site/dashboard.html' %}
{% load accounting %}

{% block dashboard-title %}Overview{% endblock %}

{% block dashboard-content %}

  <div class="card-deck">

    <!-- Current balance sheet card -->
    <div class="card">
      <div class="card-header">
        Balance Sheet for {{ latest_sheet.date|date:"F Y" }}
      </div>
      <div class="card-body">
        {% next_sheet %}
      </div>
      <table class="table mb-0">
        <thead>
          <th></th>
          <th class="text-right">Beginning Balance</th>
          <th class="text-right">Ending Balance</th>
        </thead>
        {% with accounts=latest_sheet.balances.cash_accounts %}
        {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
        <tr>
          <td>
            <span class="badge badge-light">{{ accounts.count }}</span>
            Cash Accounts {% direction beginning ending %}
          </td>
          <td>{% accounting beginning %}</td>
          <td>{% accounting ending %}</td>
          {% endwith %}
        </tr>
        {% endwith %}

        {% with accounts=latest_sheet.balances.investment_accounts %}
        {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
        <tr>
          <td>
            <span class="badge badge-light">{{ accounts.count }}</span>
            Investment Accounts {% direction beginning ending %}
          </td>
          <td>{% accounting accounts.totals.beginning__sum %}</td>
          <td>{% accounting accounts.totals.ending__sum %}</td>
          {% endwith %}
        </tr>
        {% endwith %}

        {% with accounts=latest_sheet.balances.credit_accounts %}
        {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
        <tr>
          <td>
            <span class="badge badge-light">{{ accounts.count }}</span>
            Credit Cards {% direction beginning ending %}
          </td>
          <td>{% accounting accounts.totals.beginning__sum %}</td>
          <td>{% accounting accounts.totals.ending__sum %}</td>
          {% endwith %}
        </tr>
        {% endwith %}

        {% with accounts=latest_sheet.balances.loan_accounts %}
        {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
        <tr>
          <td>
            <span class="badge badge-light">{{ accounts.count }}</span>
            Loan Accounts {% direction beginning ending %}
          </td>
          <td>{% accounting accounts.totals.beginning__sum %}</td>
          <td>{% accounting accounts.totals.ending__sum %}</td>
          {% endwith %}
        </tr>
        {% endwith %}
      </table>
      <div class="card-footer text-muted">
        <small>
          {{ latest_sheet.transactions.count }} transactions from {{ latest_sheet.transactions.earliest.date }} to {{ latest_sheet.transactions.latest.date }}
        </small>
      </div>
    </div><!-- end current balance sheet card -->

    <!-- Cash vs. credit card debt -->
    <div class="card">
      <div class="card-header">
        Trends
      </div>
      <div class="card-body">
        <h5 class="card-title">Cash vs. Credit Card Debt</h5>
        <canvas id="cashvdebt"></canvas>
      </div>
    </div>

    <!-- Trends in income vs. spending -->

    <!-- Investements and investment trends -->

  </div><!-- end card deck -->

  <!-- second row card deck -->
  <div class="row mt-3">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Credit Score
        </div>

        <div class="card-body">

          <div class="media mx-auto" style="width: 325px">
            <div class="align-self-start mt-0 mr-3">
              <span class="big-number">{{ credit_score.score }}</span>
            </div>
            <div class="media-body pt-2">
              <h5 class="mt-0">{{ credit_score.description }}</h5>
              <p class="mb-0">As of {{ credit_score.date }}</p>
              <p>Source: {{ credit_score.source }}</p>
            </div>
          </div>

          <i class="fa fa-caret-down pull-left" style="font-size: 1.8em; line-height: .4em;  margin-left: {{ credit_score.percent|floatformat:"1" }}%"></i>
          <div class="credit-score-bar mt-2">
            <span class="pull-left ml-2 text-light">300</span>
            <span class="pull-right mr-2 text-light">850</span>
            <div class="rdylgn-gradient mx-auto"></div>
          </div>

        </div>

      </div>
    </div>

  </div><!-- end card deck -->

  <!-- bottom spacer -->
  <div class="mb-3"></div>
{% endblock %}


{% block javascripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
  <script type="text/javascript">

  $(document).ready(function() {
    var RED = "#F04124";
    var GRN = "#43ac6a";
    var URL = "{% url 'api:cashflow-list' %}";

    // Fetch the cash-flow data to draw the chart
    $.get(URL)
      .done(function (data) {
        cashFlowChart(data.reverse());
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
      });


    function cashFlowChart(data) {
      // var colors = [GRN, RED]
      // if (cash_total >= debt_total) {
      //   colors.push(GRN);
      // } else {
      //   colors.push(RED);
      // }

      var ctx = document.getElementById('cashvdebt').getContext('2d');
      var labels = _.map(_.pluck(data, "date"), fmtDate);

      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'bar',

          // The data for our dataset
          data: {
              labels: labels,
              datasets: [{
                label: "Net Cash",
                data: _.pluck(data, "net_ending"),
                type: "line",
                borderColor: "#333333",
                fill: false,
              }, {
                label: "Cash (ending)",
                backgroundColor: GRN,
                data: _.pluck(data, "cash_ending"),
              }, {
                label: "Debt (ending)",
                backgroundColor: RED,
                data: _.pluck(data, "debt_ending"),
              }]
          },

          // Configuration options go here
          options: {
            legend: {
              display: true,
            },
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                stacked: true
              }]
            },
          },
      });
    }

    function fmtDate(s) {
      // Don't forget to subtract 1 from the month?!
      const [year, month, day] = s.split("-")
      return new Date(year, month-1, day).toLocaleDateString("en-US", {"month": "short", "year": "numeric"});
    }

  });
  </script>
{% endblock %}
