{% extends 'page.html' %}
{% load accounting %}
{% load static %}
{% load mathfilters %}

{# No page header for the overview dashboard #}
{% block page-head %}{% endblock %}

{% block page %}

<div class="row">
  <!-- at a glance tiles -->
  <!-- TODO: Add CountUp -->
  <div class="col-12 col-lg-6 col-xl-3">
    <div class="widget widget-tile">
      <div class="chart sparkline" id="creditScoreSpark"></div>
      <div class="data-info">
        <div class="desc">Credit Score</div>
        <div class="value">
          {% with trend=credit_score.trend %}
          {% if trend == 'up' %}
          <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
          {% elif trend == 'down' %}
          <span class="indicator indicator-negative mdi mdi-chevron-down"></span>
          {% else %}
          <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
          {% endif %}
          {% endwith %}
          <span class="number">{{ credit_score.score }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-3">
    <div class="widget widget-tile">
      <div class="chart sparkline" id="savingsSpark"></div>
      <div class="data-info">
        {# TODO: remove this hack and make a preference! #}
        <div class="desc">Monthly Savings</div>
        <div class="value">
          {% if monthly_savings > 0 %}
          <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
          <span class="number text-success">${{ monthly_savings }}</span>
          {% elif monthly_savings < 0 %}
          <span class="indicator indicator-negative mdi mdi-chevron-down"></span>
          <span class="number text-danger">${{ monthly_savings|abs }}</span>
          {% else %}
          <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
          <span class="number">&mdash;</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-3">
    <div class="widget widget-tile">
      <div class="chart sparkline" id="investmentsSpark"></div>
      <div class="data-info">
        <div class="desc">Investments</div>
        <div class="value">
          {% if investment_increase > 100 %}
          <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
          {% elif investment_increase < 100 %}
          <span class="indicator indicator-negative mdi mdi-chevron-down"></span>
          {% else %}
          <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
          {% endif %}
          <span class="number">{{ investment_increase|floatformat:"0" }}%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-3">
    <div class="widget widget-tile">
      <div class="chart sparkline" id="incomeSpark"></div>
      <div class="data-info">
        <div class="desc">Yearly Income</div>
        <div class="value">
          {% with pcent=tax_return.prev_year_income_trend %}
          {% if pcent > 100 %}
          <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
          {% elif pcent < 100 %}
          <span class="indicator indicator-negative mdi mdi-chevron-down"></span>
          {% else %}
          <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
          {% endif %}
          <span class="number">{{ pcent|floatformat:0 }}%</span>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div><!-- tiles row ends -->

<div class="row">
  <!-- balance sheet summary card -->
  <div class="col-12 col-lg-6">
    <div class="card card-table">
      <div class="card-header">
        Balance Sheet for {{ latest_sheet.date|date:"F Y" }}
      </div>
      <div class="card-body">
        <div class="mx-4 my-2">
          {% next_sheet %}
        </div>
        <table class="table">
          <thead>
            <th></th>
            <th class="text-right">Beginning Balance</th>
            <th class="text-right">Ending Balance</th>
          </thead>
          {% with accounts=latest_sheet.balances.cash_accounts %}
          {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
          <tr>
            <td>
              <span class="badge badge-success">{{ accounts.count }}</span>
              Cash Accounts {% direction beginning ending %}
            </td>
            <td>{% accounting beginning %}</td>
            <td>{% accounting ending %}</td>
            {% endwith %}
          </tr>
          {% endwith %}

          {% with accounts=latest_sheet.balances.investment_accounts %}
          {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
          <tr>
            <td>
              <span class="badge badge-info">{{ accounts.count }}</span>
              Investment Accounts {% direction beginning ending %}
            </td>
            <td>{% accounting accounts.totals.beginning__sum %}</td>
            <td>{% accounting accounts.totals.ending__sum %}</td>
            {% endwith %}
          </tr>
          {% endwith %}

          {% with accounts=latest_sheet.balances.credit_accounts %}
          {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
          <tr>
            <td>
              <span class="badge badge-danger">{{ accounts.count }}</span>
              Credit Cards {% direction beginning ending %}
            </td>
            <td>{% accounting accounts.totals.beginning__sum %}</td>
            <td>{% accounting accounts.totals.ending__sum %}</td>
            {% endwith %}
          </tr>
          {% endwith %}

          {% with accounts=latest_sheet.balances.loan_accounts %}
          {% with beginning=accounts.totals.beginning__sum ending=accounts.totals.ending__sum %}
          <tr>
            <td>
              <span class="badge badge-warning">{{ accounts.count }}</span>
              Loan Accounts {% direction beginning ending %}
            </td>
            <td>{% accounting accounts.totals.beginning__sum %}</td>
            <td>{% accounting accounts.totals.ending__sum %}</td>
            {% endwith %}
          </tr>
          {% endwith %}
          </table>
        </table>
      </div>
      <div class="card-footer card-footer-contrast text-muted">
        <small>
          {% with ntxns=latest_sheet.transactions.count %}
          {{ ntxns }} transactions{% if ntxns > 0 %} from {{ latest_sheet.transactions.earliest.date }} to {{ latest_sheet.transactions.latest.date }}{% endif %}
          {% endwith %}
        </small>
      </div>
    </div>
  </div><!-- balance sheet summary card ends -->

  <!-- cash flow trends card -->
  <div class="col-12 col-lg-6">
    <div id="cashflow-bar-chart-widget" class="widget be-loading">
      <div class="widget-head">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span id="refresh-cashflow-bar-chart" class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="card-title">Trends</span>
        <span class="card-subtitle">Cash vs. credit Card Debt</span>
      </div>
      <div class="widget-chart-container">
        <canvas id="cashvdebt"></canvas>
      </div>
      <div class="be-spinner">
        <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
  </div><!-- cash flow trends card ends -->

</div><!-- row ends -->

<div class="row">
  <!-- cash flow trends card -->
  <div class="col-12 col-lg-6">
    <div id="investments-line-chart-widget" class="widget be-loading">
      <div class="widget-head">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span id="refresh-investments-line-chart" class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="card-title">Investments</span>
        <span class="card-subtitle">Retirement and Investment Account Growth over Time</span>
      </div>
      <div class="widget-chart-container">
        <canvas id="investments"></canvas>
      </div>
      <div class="be-spinner">
        <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
  </div><!-- cash flow trends card ends -->

  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        Credit Score History
        <div class="tools">
          {# TODO: unhack this! #}
          <a href="{% url 'admin:accounts_creditscore_add' %}" title="Add Score"><span class="icon mdi mdi-plus"></span></a>
        </div>
      </div>
      <div class="card-body">
        {% if credit_score_history %}
        <ul class="user-timeline user-timeline-compact">
          {% for score in credit_score_history %}
          <li{% if forloop.first %} class="latest"{% endif %}>
            <div class="user-timeline-date">{{ score.date }}</div>
            <div class="user-timeline-title">{{ score.score }}</div>
            <div class="user-timeline-description">
              {{ score.description }} &middot; {{ score.source }}
              {% if score.memo %}
              <p class="p-0 m-0">{{ score.memo }}</p>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No credit score history recorded yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div><!-- row ends -->
{% endblock %}

{# TODO: implement the credit score add modal #}
{% comment %}
{% block modals %}
  {{ block.super }}
  {% include "components/modals/add_credit_score_form.html" %}
{% endblock %}
{% endcomment %}


{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'vendor/chartjs/Chart.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/jquery.sparkline/jquery.sparkline.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/overview.js' %}" type="text/javascript"></script>
{% endblock %}
