{% extends 'registration/login.html' %}

{% block splash-container-class %}sign-up{% endblock %}

{% block login-alert %}
{% if form.errors %}
{% for field, errors in form.errors.items %}
{% for error in errors %}
<div class="alert alert-danger alert-contrast alert-dismissible fade show" role="alert">
  <div class="icon"><span class="mdi mdi-close-circle"></span></div>
  <div class="message">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span class="mdi mdi-close" aria-hidden="true"></span>
    </button>
    {{ error }}
  </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}

{% block login-form %}
<form role="form" method="post">
  <span class="splash-title pb-4">Enter a New Password</span>
  <div class="form-group">
    <input class="form-control" placeholder="Password" type="password"
      id="id_new_password1" name="new_password1" maxlength="48" autofocus required />
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Repeat Password" type="password"
      id="id_new_password2" name="new_password2" maxlength="48" required />
  </div>
  <div class="form-group login-submit">
    <button type="submit" value="login" class="btn btn-xl btn-primary">
      Change Password
    </button>
    {% csrf_token %}
  </div>
</form>
{% endblock %}
