{% extends 'site/dashboard.html' %}
{% load buttons %}
{% load accounting %}
{% load static %}

{% block dashboard-title %}
  {{ sheet.title }}
  <span class="pull-right">
    {% edit_button icon_only=False %}
    {% print_button icon_only=False %}
  </span>
{% endblock %}

{% block dashboard-content %}

  <!-- Cash Accounts -->
  <div class="row">
    <div class="col-sm mb-2">
      <div class="card border-success">

        <div class="card-header bg-success text-light">
          <h5 class="mb-0">Cash Accounts</h5>
        </div>

        {% include "snippets/accounts_table.html" with account_type="cash" account_class="success" balances=sheet.balances.cash_accounts %}

      </div>
    </div>
  </div>

  <!-- Investment Accounts -->
  <div class="row">
    <div class="col-sm mb-2">
      <div class="card border-info">

        <div class="card-header bg-info text-light">
          <h5 class="mb-0">Investment Accounts</h5>
        </div>

        {% include "snippets/accounts_table.html" with account_type="investment" account_class="info" balances=sheet.balances.investment_accounts %}

      </div>
    </div>
  </div>

  <!-- Credit Card Accounts -->
  <div class="row">
    <div class="col-sm mb-2">
      <div class="card border-danger">

        <div class="card-header bg-danger text-light">
          <h5 class="mb-0">Credit Cards</h5>
        </div>

        {% include "snippets/accounts_table.html" with account_type="credit card" account_class="danger" balances=sheet.balances.credit_accounts %}

      </div>
    </div>
  </div>

  <!-- Loan Accounts -->
  <div class="row">
    <div class="col-sm mb-2">
      <div class="card border-primary">

        <div class="card-header bg-primary text-light">
          <h5 class="mb-0">Loans</h5>
        </div>

        {% include "snippets/accounts_table.html" with account_type="loan" account_class="primary" balances=sheet.balances.loan_accounts %}

      </div>
    </div>
  </div>

  <!-- Transactions -->
  <div class="row">
    <div class="col-sm mb-2">

      <div class="card border-warning">

        <div class="card-header bg-warning text-light">
          <h5 class="mb-0">Transactions</h5>
        </div>

        {% include "snippets/transactions_table.html" %}

        <div class="card-footer bg-warning text-light">
          {% if sheet.transactions.count > 0  %}
          <small>{{ sheet.transactions.count }} transactions from {{ sheet.transactions.earliest.date }} to {{ sheet.transactions.latest.date }}</small>
          {% else %}
          <small>&mdash;</small>
          {% endif %}
        </div>

      </div>

    </div>
  </div>

{% endblock %}


{% block modals %}
  {{ block.super }}
  {% include "snippets/balance_modal.html" %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  {% include "snippets/balance_modal_js_body.html" %}
  <script src="{% static 'js/balance.js' %}" type="text/javascript"></script>
{% endblock %}
