{% extends 'base.html' %}
{% load accounting %}

{% block body %}
<div class="invoice">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">{{ sheet.title }}</h1>
      </div>
    </div>

    <!-- Cash Accounts -->
    <div class="row">
      <div class="col">
        <div class="card card-table card-border-color card-border-color-success">
          <div class="card-header card-header-divider">
            <span class="title">Cash Accounts</span>
          </div>
          <div class="card-body">
            {% include "snippets/accounts_table.html" with account_type="cash" account_class="success" balances=sheet.balances.cash_accounts %}
          </div>
        </div>
      </div>
    </div>

    <!-- Investment Accounts -->
    <div class="row">
      <div class="col">
        <div class="card card-table card-border-color card-border-color-info">
          <div class="card-header card-header-divider">
            <span class="title">Investments</span>
          </div>
          <div class="card-body">
            {% include "snippets/accounts_table.html" with account_type="investment" account_class="info" balances=sheet.balances.investment_accounts %}
          </div>
        </div>
      </div>
    </div>

    <!-- Credit Card Accounts -->
    <div class="row">
      <div class="col">
        <div class="card card-table card-border-color card-border-color-danger">
          <div class="card-header card-header-divider">
            <span class="title">Credit Cards</span>
          </div>
          <div class="card-body">
            {% include "snippets/accounts_table.html" with account_type="credit card" account_class="danger" balances=sheet.balances.credit_accounts %}
          </div>
        </div>
      </div>
    </div>

    <!-- Credit Card Accounts -->
    <div class="row">
      <div class="col">
        <div class="card card-table card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">
            <span class="title">Loans</span>
          </div>
          <div class="card-body">
            {% include "snippets/accounts_table.html" with account_type="loan" account_class="primary" balances=sheet.balances.loan_accounts %}
          </div>
        </div>
      </div>
    </div>

    <!-- Credit Card Accounts -->
    <div class="row">
      <div class="col">
        <div class="card card-table card-border-color card-border-color-warning">
          <div class="card-header card-header-divider">
            <span class="title">Transactions</span>
            {% if sheet.transactions.count > 0  %}
            <span class="card-subtitle">
              {{ sheet.transactions.count }} transactions from {{ sheet.transactions.earliest.date }} to
              {{ sheet.transactions.latest.date }}
            </span>
            {% else %}
            <span>&mdash;</span>
            {% endif %}
          </div>
          <div class="card-body">
            {% include "snippets/transactions_table.html" %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
