{% extends 'page.html' %}
{% load buttons %}
{% load accounting %}
{% load static %}

{% block page-head %}
<div class="page-head">
  <h2 class="page-head-title">
    {{ sheet.title }}
    <span class="float-right">
      {% edit_button icon_only=False %}
      {% print_button icon_only=False %}
    </span>
  </h2>
</div>
{% endblock %}

{% block page %}
<!-- Cash Accounts -->
<div class="row">
  <div class="col">
    <div class="card card-table card-border-color card-border-color-success">
      <div class="card-header card-header-divider">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="title">Cash Accounts</span>
      </div>
      <div class="card-body">
        {% include "snippets/accounts_table.html" with account_type="cash" account_class="success" balances=sheet.balances.cash_accounts %}
      </div>
    </div>
  </div>
</div>

<!-- Investment Accounts -->
<div class="row">
  <div class="col">
    <div class="card card-table card-border-color card-border-color-info">
      <div class="card-header card-header-divider">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="title">Investments</span>
      </div>
      <div class="card-body">
        {% include "snippets/accounts_table.html" with account_type="investment" account_class="info" balances=sheet.balances.investment_accounts %}
      </div>
    </div>
  </div>
</div>

<!-- Credit Card Accounts -->
<div class="row">
  <div class="col">
    <div class="card card-table card-border-color card-border-color-danger">
      <div class="card-header card-header-divider">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="title">Credit Cards</span>
      </div>
      <div class="card-body">
        {% include "snippets/accounts_table.html" with account_type="credit card" account_class="danger" balances=sheet.balances.credit_accounts %}
      </div>
    </div>
  </div>
</div>

<!-- Credit Card Accounts -->
<div class="row">
  <div class="col">
    <div class="card card-table card-border-color card-border-color-primary">
      <div class="card-header card-header-divider">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="title">Loans</span>
      </div>
      <div class="card-body">
        {% include "snippets/accounts_table.html" with account_type="loan" account_class="primary" balances=sheet.balances.loan_accounts %}
      </div>
    </div>
  </div>
</div>

<!-- Credit Card Accounts -->
<div class="row">
  <div class="col">
    <div class="card card-table card-border-color card-border-color-warning">
      <div class="card-header card-header-divider">
        <div class="tools">
          <span class="icon mdi mdi-chevron-down"></span>
          <span class="icon mdi mdi-refresh-sync"></span>
          <span class="icon mdi mdi-close"></span>
        </div>
        <span class="title">Transactions</span>
        {% if sheet.transactions.count > 0  %}
        <span class="card-subtitle">
          {{ sheet.transactions.count }} transactions from {{ sheet.transactions.earliest.date }} to {{ sheet.transactions.latest.date }}
        </span>
        {% else %}
        <span>&mdash;</span>
        {% endif %}
      </div>
      <div class="card-body">
        {% include "snippets/transactions_table.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block modals %}
  {{ block.super }}
  {% include "snippets/balance_modal.html" %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  {% include "snippets/balance_modal_js_body.html" %}
  <script src="{% static 'js/balance.js' %}" type="text/javascript"></script>
{% endblock %}
