{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% block title %}Bengfort Ledger{% endblock %}</title>

  {% block meta %}
  <meta name="author" content="{% block author %}Benjamin Bengfort{% endblock %}">
  <meta name="keywords" content="{% block keywords %}Personal Finance{% endblock %}">
  <meta name="description" content="{% block description %}Financial analysis tools for the Bengfort family.{% endblock %}">
  {% endblock %}

  {% block link %}
  <!-- shortcut icon -->
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
  {% endblock %}

  {% block stylesheets %}
  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/css/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" type="text/css"
    href="{% static 'vendor/material-design-icons/css/material-design-iconic-font.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/beagle.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/ledger.css' %}" type="text/css" />
  {% endblock %}

</head>
<body>
  {% block body %}
  {% endblock %}

  {% block modals %}
  <!-- hidden modals -->
  {% endblock %}

  {% block javascripts %}
  <!-- javascript at the bottom of the page for faster loading -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/underscore/underscore.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/beagle.min.js' %}" type="text/javascript"></script>

  <!-- homebrewed javascripts -->
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
  {% endblock %}

  {% block analytics %}
    {% include 'components/analytics.html' %}
  {% endblock %}

</body>
</html>
