{% extends 'site/dashboard.html' %}
{% load accounting %}
{% load humanize %}

{% block dashboard-title %}{{ budget }}{% endblock %}

{% block dashboard-content %}

    <div class="row">
        <div class="col-sm mb-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Summary</h6>
                </div>
                <div class="card-body">
                    {{budget.description|linebreaks}}

                <table class="table mb-0 table-hover table-sm table-pointer">
                    <tr>
                        <td style="width:30%">Monthly Expected Income</td>
                        <td>
                            <span class="pull-left">$</span>
                            <span class="pull-right">{{ budget.monthly_income|intcomma }}</span>
                            <div class="clearfix"></div>
                        </td>
                        <td style="width:30%"><span class="pl-4">Total Income</span></td>
                        <td>
                            <span class="pull-left">$</span>
                            <span class="pull-right">{{ budget.total_income|intcomma }}</span>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">Monthly Expected Expenses</td>
                        <td>
                            <span class="pull-left">$</span>
                            <span class="pull-right">{{ budget.monthly_expenses|intcomma }}</span>
                            <div class="clearfix"></div>
                        </td>
                        <td style="width:30%"><span class="pl-4">Total Expenses</span></td>
                        <td>
                            <span class="pull-left">$</span>
                            <span class="pull-right">{{ budget.total_expenses|intcomma }}</span>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        {% with savings=budget.monthly_savings %}
                        <td style="width:30%">Monthly Expected Savings</td>
                        <td class="{% if savings > 0 %}text-success{% else %}text-danger{% endif %}">
                            <span class="pull-left">$</span>
                            <span class="pull-right">{{ savings|intcomma }}</span>
                            <div class="clearfix"></div>
                        </td>
                        {% endwith %}
                        {% with savings=budget.total_savings %}
                        <td style="width:30%"><span class="pl-4">Total Savings</span></td>
                        <td class="{% if savings > 0 %}text-success{% else %}text-danger{% endif %}">
                            <span class="pull-left">$</span>
                            <span class="pull-right">{{ savings|intcomma }}</span>
                            <div class="clearfix"></div>
                        </td>
                        {% endwith %}
                    </tr>

                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm mb-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Income Sources</h5>
                </div>
                <div class="card-body mb-0">
            <table class="table mb-0 table-hover table-sm table-pointer">
                {% for line in budget.income_items %}
                <tr>
                    <td>{{line.name}}</td>
                    <td class="text-right">${{line.amount|intcomma}} {{line.frequency_text}}</td>
                    <td>
                        <span class="pull-left">$</span>
                        <span class="pull-right">{{ line.total|intcomma }}</span>
                        <div class="clearfix"></div>
                    </td>
                    <td>{{line.notes}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-right"><strong>Total</strong></td>
                    <td>
                        <strong>
                        <span class="pull-left">$</span>
                        <span class="pull-right">{{ budget.total_income|intcomma }}</span>
                        </strong>
                        <div class="clearfix"></div>
                    </td>
                    <td></td>
                </tr>
            </table>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm mb-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Expenses</h5>
                </div>
                <div class="card-body mb-0">
                    <table class="table mb-0 table-hover table-sm table-pointer">
                        {% for line in budget.expense_items %}
                        <tr>
                            <td>{{line.name}}</td>
                            <td class="text-right">${{line.amount|intcomma}} {{line.frequency_text}}</td>
                            <td>
                                <span class="pull-left">$</span>
                                <span class="pull-right">{{ line.total|intcomma }}</span>
                                <div class="clearfix"></div>
                            </td>
                            <td>{{line.notes}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="text-right"><strong>Total</strong></td>
                            <td>
                                <strong>
                                    <span class="pull-left">$</span>
                                    <span class="pull-right">{{ budget.total_expenses|intcomma }}</span>
                                </strong>
                                <div class="clearfix"></div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}