{% load static %}
<!-- sidebar with primary application navigation -->
<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">{% block page-left-sidebar-title %}{% if dashboard %}{{ dashboard|title }}{% else %}Blank Page{% endif %}{% endblock %}</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li class="divider">Menu</li>
            <li class="{% if dashboard == 'overview' %}active{% endif %}"">
              <a href="{% url 'overview' %}">
                <i class="icon mdi mdi-chart"></i><span>Overview</span>
              </a>
            </li>
            <li class="{% if dashboard == 'sheets' %}active{% endif %}"">
                                                  <a href=" {% url 'sheets-archive' %}">
              <i class="icon mdi mdi-balance-wallet"></i><span>Balance Sheets</span>
              </a>
            </li>
            <li class="{% if dashboard == 'budget' %}active{% endif %}"">
                                      <a href=" {% url 'budget' %}">
              <i class="icon mdi mdi-money"></i><span>Budget</span>
              </a>
            </li>
            <li class="{% if dashboard == 'subscriptions' %}active{% endif %}"">
                                      <a href=" {% url 'subscriptions-list' %}">
              <i class="icon mdi mdi-money-box"></i><span>Subscriptions</span>
              </a>
            </li>
            <li class="{% if dashboard == 'taxes' %}active{% endif %}"">
                          <a href=" {% url 'taxes' %}">
              <i class="icon mdi mdi-balance"></i><span>Taxes</span>
              </a>
            </li>
            {% if user.is_staff %}
            <li class="divider">CMS</li>
            <li>
              <a href="{% url 'admin:index' %}">
                <i class="icon mdi mdi-settings-square"></i><span>Admin</span>
              </a>
            </li>
            <li>
              <a href="{% url 'api:api-root' %}">
                <i class="icon mdi mdi-satellite"></i><span>API Docs</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="progress-widget">
      <div class="progress-data"><span class="progress-value">0%</span><span class="name">Current Balance Sheet</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div><!-- sidebar ends -->