{% verbatim %}
<script type="text/template" id="alertMessage">
  <div class="alert alert-contrast alert-dismissible fade show" role="alert">
    <div class="icon"><span class="mdi mdi-<%= rc.icon %>"></span></div>
    <div class="message">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close">
        <span class="mdi mdi-close" aria-hidden="true"></span>
      </button>
      <strong class="pr-1"><%= rc.status %>:</strong> <%= rc.message %>
    </div>
  </div>
</script>
{% endverbatim %}