<div id="balanceModal" class="modal fade colored-header colored-header-primary" tabindex="-1" role="dialog" aria-labelledby="balanceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-colored">
        <h3 class="modal-title" id="balanceModalLabel"></h3>
        <button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary md-close" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-refresh-balance" type="button" data-target="">Refresh Balance</button>
        {% csrf_token %}
      </div>
    </div>
  </div>
</div>
